<%- include('partials/_header') %> %>

  <div class="d-inline-flex w-100 h-auto text-center text-light bg-primary p-4">
    <h1>Apartamentos amoblados por días, semanas y meses</h1>
  </div>

  <div class="container justify-content-center d-flex">
    <div class="card " style="width: 18rem">
      <button type="button" class="btn btn-outline-primary"><a href="/ciudad-jardin" >Ciudad Jardin</a></button>
      <button type="button" class="btn btn-outline-primary">Granadillo</button>
      <button type="button" class="btn btn-outline-primary">La Campiña</button>
      <button type="button" class="btn btn-outline-primary">Tivoli</button>
      <button type="button" class="btn btn-outline-primary">Paraiso</button>
      <button type="button" class="btn btn-outline-primary">Villa Carolina</button>
    </div>
  </div>

</body>
</html>